<section data-ng-controller="CallController" data-ng-init="init()">
  <div class="row">
    <div class="col-sm-12">
      <legend>Call <span class="pull-right medium alignbottom"><a href="/export/call/{{call._id}}" ><span class="glyphicon glyphicon-download"></span> Download</a></span></legend>
      <table class="table table-condensed table-bordered table-hover table-striped">
        <tr>
          <th>Caller</th>
          <th>Callee</th>
          <th>Duration</th>
          <th>Active</th>
          <th class="center">Refresh</th>
        </tr>
        <tr>
          <td>{{call.from.IP_ADDRESS}} </td>
          <td>{{call.to.IP_ADDRESS.length > 0 ? call.to.IP_ADDRESS : call.to.SSRC + " (IP undiscovered)"}}</td>
          <td>{{call.duration}}</td>
          <td>{{call.metadata.ended.from === false || call.metadata.ended.to == false}}</td>
          <td class="center"><a href="" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></a></td>
        </tr>
        <tr>
          <td><span class="bold">SSRC:</span> {{call.from.SSRC}} </td>
          <td><span class="bold">SSRC:</span> {{call.to.SSRC}} </td>
          <td><span class="bold">Last Update:</span> {{call.metadata.lastUpdated | date:'short'}} </td>
          <td>
            <span class="bold">Caller End:</span> {{!call.metadata.ended.from ? 'False' : 'True (' + call.metadata.ended.from_reason + ')'}} <br/> 
            <span class="bold">Callee End:</span> {{!call.metadata.ended.to ? 'False' : 'True (' + call.metadata.ended.to_reason + ')'}}
          </td>
          <td class="center"></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="well" ng-repeat="(key, value) in chartObjects">  
    <div class="row">    
      <div class="col-sm-9">
        <h4>{{key}}</h4>   
      </div>
      <div class="col-sm-3">       
        <div class="right" ng-if="visualizationdata[key].averages.mos.MOS > 4">
          <h4>Status: <span class="glyphicon glyphicon-ok green spacer"></span>
          </h4>
        </div>
        <div class="right" ng-if="visualizationdata[key].averages.mos.MOS > 3.8 && visualizationdata[key].averages.mos.MOS <= 4"><h4>Status: <span class="glyphicon glyphicon-ok yellow spacer"></span></h4>
        </div>
        <div class="right" ng-if="visualizationdata[key].averages.mos.MOS <= 3.8"><h4>Status: <span class="glyphicon glyphicon-ok red spacer"></span></h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div google-chart chart="value" class="bordered"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 paddedtopten">
        <h4>Last Minute</h4>
          <table class="table table-condensed table-bordered table-hover normal white">
            <tr>
              <td></td>
              <td><span class="bold red">Averages for</span> {{key}}    </td><td><span class="bold red">Reporting Interval: </span>{{convertMStoHMS(visualizationdata[key].averages.duration)}}</td><td><span class="bold red">CODEC:</span> {{visualizationdata[key].metadata.codec}}</td><td>
                <span class="bold red">Computed MOS:</span> {{visualizationdata[key].averages.mos.MOS}}<br/>
                <span class="bold red">Computed MOS:</span> {{visualizationdata[key].averages.mos.MOS_corrected}}
              </td>
            </tr>
            <tr>
              <th></th>
              <th>RTP Packet Flow (Avg. packets/s)</th>
              <th>Packet Loss Rate (Avg. %)</th>
              <th>Packet Out of Order Rate (Avg. %)</th>
              <th>Jitter (Avg.)</th>
            </tr>
            <tr>
              <td></td><td>{{visualizationdata[key].averages.rtp_rate}}</td><td>{{visualizationdata[key].averages.rtp_loss_rate * 100}}</td><td>{{visualizationdata[key].averages.rtp_ooo_rate * 100}}</td><td>{{visualizationdata[key].averages.rtp_jitter}}</td>
            </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <h4>Comparison <input type="checkbox" ng-model="enableComparison" class="input-control"/></h4>

          <div class="well white" style:"padding-bottom: 60px;" ng-show="enableComparison">
          <form class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">Window</label>
              <select class="form-control" ng-model="viz[key].options.window">
                <option>Last minute</option>
                <option>Last 5 minutes</option>
                <option>Last 10 minutes</option>
                <option>Last hour</option>
                <option>Custom</option>
              </select>
            </div>
            <button class="btn btn-sm btn-warning" ng-click="compare(key, viz[key].options)">Compare</button>
          </form>
            <div class="col-sm-12" style="padding-top:20px; padding-bottom:20px" ng-show="viz[key].options.window == 'Custom'">
              <input ng-model="viz[key].options.slidervalue" type="text" id="mySlider1" slider options="viz[key].options.slideroptions" />
            </div>
          </div>
        </div>
      <div class="col-sm-12">
          <table class="table table-condensed table-bordered table-hover normal white" ng-show="enableComparison">
            <tr><td></td>
              <td><span class="bold red">Averages for</span> {{key}}    </td><td><span class="bold red">Reporting Interval: </span>{{viz[key].results.averages.duration / 1000}} s</td><td><span class="bold red">CODEC:</span> {{viz[key].results.metadata.codec}}</td><td><span class="bold red">Computed MOS:</span> {{viz[key].results.averages.mos.MOS}}</td>
            </tr>
            <tr>
              <th></th><th>RTP Packet Flow (Avg. packets/s)</th><th>Packet Loss Rate (Avg. %)</th><th>Packet Out of Order Rate (Avg. %)</th><th>Jitter (Avg.)</th>
            </tr>
            <tr>
              <td></td><td>{{viz[key].results.averages.rtp_rate}}</td><td>{{viz[key].results.averages.rtp_loss_rate * 100}}</td><td>{{viz[key].results.averages.rtp_ooo_rate * 100}}</td><td>{{viz[key].results.averages.rtp_jitter}}</td>
            </tr>
          </table>
      </div>
    </div>
  </div>
</section>
