<section data-ng-controller="DeviceController" data-ng-init="startPolling()">
  <div class="row">
    <div class="col-sm-12">
      <legend>Available Devices</legend>
      <table class="table table-condensed table-hover table-bordered table-striped">
        <tr><th>Device</th>
            <th>Id</th>
            <th class="center">Go</th>
        </tr>
        <tr ng-repeat="device in devices">
            <th><span class="glyphicon glyphicon glyphicon-phone-alt spacer"></span>  {{device.metadata.IP_ADDRESS}}</th>
            <th>{{device._id}}</th>
            <th class="center"><a href="#!/device/{{device._id}}"><span class="glyphicon glyphicon-arrow-right"></span></a></th>
        </tr>
      </table>
    </div>
  </div>
</section>

<section data-ng-controller="AnalyticController">
  <div class="row">
    <div class="col-sm-12">
      <legend>Analytics</legend>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
              <label class="col-lg-4 control-label">IP (comma separated)</label>
              <div class="col-lg-8">
                <input ng-model="mapreduce.device.IP_ADDRESS"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-4 control-label">Extension</label>
              <div class="col-lg-8">
                <input ng-model="mapreduce.device.extension"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-4 control-label">Metrics</label>
              <div class="col-lg-8">
              <multiselect class="input-xlarge"
                ng-model="mapreduce.metricKeys"
                options="key for key in metricKeys"
                change="selected()" multiple="true"></multiselect>
                <!-- <select class="form-control" data-ng-options="key in metricKeys" data-ng-model="mapreduce.metricKeys"></select> -->
              </div>
              
            </div>
            <div class="form-group">
              <div class="col-lg-8 col-lg-offset-4">
                <button type="submit" ng-click="reduce(true)" class="btn btn-success btn-sm">Reduce</button>
              </div>

            </div>
            <div class="form-group">
              <div class="col-lg-12">
                <table class="table table-condensed table-bordered table-striped">
                <tr><th colspan=3>History</th></tr>
                  <tr ng-repeat="query in history | reverse">
                  <td>{{$index}}</td><td>
                    <div>{{query.device.IP_ADDRESS}}</div>
                    <div>{{query.metricKeys.length}} Metrics</div>
                    <div>{{query.startTime | date:'short'}} to {{query.endTime | date:'short'}}</div>
                    </td><td><a href="" ng-click="redo(query)"><span class="glyphicon glyphicon-refresh"></span></a></td>
                  </tr>
                </table>
              </div>

            </div>
            <div class="form-group">
              <div class="col-lg-12">
                <table class="table table-condensed table-bordered">
                <tr><th>Selected Metrics</th></tr>
                  <tr ng-repeat="key in mapreduce.metricKeys">
                  <td>{{key}}</td>
                  </tr>
                </table>
              </div>

            </div>
        </fieldset>
      </form>
    </div>


    <!-- CHARTS -->
    <div class="col-sm-9">
      Sending Packets: <span class="label" ng-class="{'label-success': jobstatus.running, 'label-danger':!jobstatus.running}">{{jobstatus.running}}</span>
      <button ng-click="togglePolling()" class="btn btn-success btn-sm right"><span ng-show="isPolling">Pause </span><span ng-show="!isPolling">Start </span>Polling</button>
      <div class="row">
        <div class="col-sm-12" style="padding-top:20px; padding-bottom:20px">
          <input ng-model="slidervalue" type="text" id="mySlider1" slider options="slideroptions" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <span class="bold">From:</span> {{mapreduce.startTime | date:'short'}} <span class="bold">To:</span> {{mapreduce.endTime | date:'short'}}
        </div>
      </div>
      <div class="well">
        <!-- Aggregate -->
        <div class="row">
          <table class="table table-condensed table-bordered table-hover white table-striped">
            <tr><th colspan=4>Showing Aggregate Results for devices: {{aggregate.devices}} <span class="label label-danger">{{mapreduceerror}}</span></th></tr>
            <tr>
              <td colspan=4>
                <span ng-repeat="device in mapreducedata" class="col-sm-3">
                  <input type="checkbox" ng-model="show[device._id]"/><span class="spacer"></span><span style="color: {{colormap[device._id]}}">{{device._id}}</span>
                </span>
              </td>
            </tr>
            <tr><th>Metric</th><th>High</th><th>Low</th><th>Average (High)</th></tr>
            <tr ng-repeat="(key, value) in aggregate">
              <td>{{key}}</td>
              <td>{{value.high.value}} <span style="color: {{colormap[value.high.device]}}" ng-show="value.high.device">({{value.high.device}})</span></td>
              <td>{{value.low.value}} <span style="color: {{colormap[value.low.device]}}" ng-show="value.low.device">({{value.low.device}})</span></td>
              <td>{{value.average.value}} <span style="color: {{colormap[value.average.device]}}" ng-show="value.average.device">({{value.average.device}})</span></td>
            </tr>
          </table>
        </div>

        <div class="row" ng-repeat="device in mapreducedata" ng-show="show[device._id]">
          <table class="table table-condensed table-bordered table-hover table-striped white">
            <tr><th colspan=4>Showing results for: <span style="color: {{colormap[device._id]}}">{{device._id ? device._id : 'N/A'}}</span> ({{device.emitted}} packets reduced)

            <span class="label label-danger">{{mapreduceerror}}</span></th></tr>
            <tr><th>Metric</th><th>High</th><th>Low</th><th>Average</th></tr>
            <tr ng-repeat="(key, value) in device.value" >
              <td>{{key}}</td>
              <td style="color: {{colormap[device._id]}}">{{value.high}}</td>
              <td style="color: {{colormap[device._id]}}">{{value.low}}</td>
              <td style="color: {{colormap[device._id]}}">{{value.total / value.count}}</td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
</section>
