<section data-ng-controller="DeviceController" data-ng-init="findOne()">
  <div class="row">
    <div class="col-sm-12">
      <legend>Device <a class="pull-right" href="" ng-click="findOne()"><span class="glyphicon glyphicon-refresh"></span> Refresh</a></legend>
      <div class="row">
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-phone-alt" style="font-size:128px"></span>
        </div>
        <div class="col-sm-8">
          <table class="table table-condensed table-hover table-bordered table-striped">
            <tr><th width="20%"></th>
                <th>Metadata</th>
            </tr>
            <tr ng-repeat="(key,value) in device.metadata">
              <td class="bold">{{key}}</td>
              <td ng-if="!isObject(value)">{{value}}</td>
              <td ng-if="isObject(value)"><div ng-repeat="(key2, value2) in value"><span class="bold">{{key2}}: </span>{{value2}}</div></td>

            </tr>
          </table>
        </div>
      </div>

      <div class="row margintoptwenty">
        <div class="col-sm-12">
          <legend>Calls</legend>

          <h5>Historic MOS Score</h5>
          <table class="table table-condensed table-hover table-bordered table-striped small">
            <tr>
              <th colspan=5>Last Call ({{device.calls.last_call.rollup.length}})</th>
              <th colspan=5>Last 5 Calls ({{device.calls.last_five_calls.rollup.length}})</th>
              <th colspan=5>Last 10 Calls ({{device.calls.last_ten_calls.rollup.length}})</th>
              <th colspan=5>Lifetime ({{device.calls.all_calls.rollup.length}})</th>
            </tr>
            <tr>
              <th>RTP Rate</th>
              <th>Loss (%)</th>
              <th>Rejected (%)</th>
              <th>Jitter</th>
              <th>MOS</th>
              <th>RTP Rate</th>
              <th>Loss (%)</th>
              <th>Rejected (%)</th>
              <th>Jitter</th>
              <th>MOS</th>
              <th>RTP Rate</th>
              <th>Loss (%)</th>
              <th>Rejected (%)</th>
              <th>Jitter</th>
              <th>MOS</th>
              <th>RTP Rate</th>
              <th>Loss (%)</th>
              <th>Rejected (%)</th>
              <th>Jitter</th>
              <th>MOS</th>
            </tr>
            <tr>
              <td><a-round number="device.calls.last_call.summary.rtp_rate.average" decimals="2"></a-round></td>
              <td><a-round decimals="2" number="device.calls.last_call.summary.rtp_loss_rate.average"></a-round></td>
              <td><a-round decimals="2" number="device.calls.last_call.summary.rtp_ooo_rate.average"></a-round></td>
              <td><a-round decimals="2" number="device.calls.last_call.summary.rtp_jitter.average"></a-round></td>
              <td><a-mos mos="device.calls.last_call.summary.mos.MOS.average" green="4" yellow="3.8" showmos="true"></a-mos></td>

              <td><a-round decimals="2" number="device.calls.last_five_calls.summary.rtp_rate.average"></a-round></td>
              <td><a-round decimals="2" number="device.calls.last_five_calls.summary.rtp_loss_rate.average"></a-round></td>
              <td><a-round decimals="2" number="device.calls.last_five_calls.summary.rtp_ooo_rate.average"></a-round></td>
              <td><a-round decimals="2" number="device.calls.last_five_calls.summary.rtp_jitter.average"></a-round></td>
              <td><a-mos mos="device.calls.last_five_calls.summary.mos.MOS.average" green="4" yellow="3.8" showmos="true"></a-mos></td>

              <td><a-round decimals="2" number="device.calls.last_ten_calls.summary.rtp_rate.average"></a-round></td>
              <td><a-round decimals="2" number="device.calls.last_ten_calls.summary.rtp_loss_rate.average"></a-round></td>
              <td><a-round decimals="2" number="device.calls.last_ten_calls.summary.rtp_ooo_rate.average"></a-round></td>
              <td><a-round decimals="2" number="device.calls.last_ten_calls.summary.rtp_jitter.average"></a-round></td>
              <td><a-mos mos="device.calls.last_ten_calls.summary.mos.MOS.average" green="4" yellow="3.8" showmos="true"></a-mos></td>

              <td><a-round decimals="2" number="device.calls.all_calls.summary.rtp_rate.average"></a-round></td>
              <td><a-round decimals="2" number="device.calls.all_calls.summary.rtp_loss_rate.average"></a-round></td>
              <td><a-round decimals="2" number="device.calls.all_calls.summary.rtp_ooo_rate.average"></a-round></td>
              <td><a-round decimals="2" number="device.calls.all_calls.summary.rtp_jitter.average"></a-round></td>
              <td><a-mos mos="device.calls.all_calls.summary.mos.MOS.average" green="4" yellow="3.8" showmos="true"></a-mos></td>
            </tr>
          </table>

          <h5>Active Calls</h5>
          <table class="table table-condensed table-hover table-bordered table-striped small">
            <tr>
              <th></th>
              <th>Call</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Duration</th>
              <th>Average MOS</th>
              <th>Active</th>
            </tr>
            <tr ng-repeat="call in activeCalls" >
              <td>{{$index}}</td>
              <td><a-call call="call"></a-call></td>
              <td>{{call.startTime | date:'medium'}}</td>
              <td>{{call.endTime | date:'medium'}}</td>
              <td>{{call.duration}}</td>
              <td><a-mos mos="call.metrics.from.averages.mos.MOS" green="4" yellow="3.8" showmos="true"></a-mos></td>
              <td>{{!call.metadata.ended.to && !call.metadata.ended.from}}</td>
            </tr>
          </table>

          <h5>Outgoing Calls <span class="right"><input type="text" class="form-control" ng-model="outgoingSearch" style="height:24px" placeholder="Filter..."/></span></h5>
            <table class="table table-condensed table-hover table-bordered table-striped small margintoptwenty">
            <tr>
              <th></th>
              <th>Calls From Device</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Duration</th>
              <th>Average MOS</th>
              <th>Active</th>
            </tr>
            <tr ng-repeat="call in callsFromDevice | filter:outgoingSearch" >
              <td>{{$index}}</td>
              <td><a-call call="call"></a-call></td>
              <td>{{call.startTime | date:'medium'}}</td>
              <td>{{call.endTime | date:'medium'}}</td>
              <td>{{call.duration}}</td>
              <td><a-mos mos="call.metrics.from.averages.mos.MOS" green="4" yellow="3.8" showmos="true"></a-mos></td>
              <td>{{!call.metadata.ended.to && !call.metadata.ended.from}}</td>
            </tr>
          </table>

          <h5>Incoming Calls <span class="right"><input type="text" class="form-control" ng-model="incomingSearch" style="height:24px" placeholder="Filter..."/></span></h5>
          <table class="table table-condensed table-hover table-bordered table-striped small margintoptwenty">
            <tr>
              <th></th>
              <th>Calls From Device</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Duration</th>
              <th>Average MOS</th>
              <th>Active</th>
            </tr>
            <tr ng-repeat="call in callsToDevice | filter:incomingSearch" >
              <td>{{$index}}</td>
              <td><a-call call="call"></a-call></td>
              <td>{{call.startTime | date:'medium'}}</td>
              <td>{{call.endTime | date:'medium'}}</td>
              <td>{{call.duration}}</td>
              <td><a-mos mos="call.metrics.to.averages.mos.MOS" green="4" yellow="3.8" showmos="true"></a-mos></td>
              <td>{{!call.metadata.ended.to && !call.metadata.ended.from}}</td>
            </tr>
          </table>
        </div>
      </div>

      <!-- last min -->
      <div class="row">
        <div class="col-sm-12">
          <legend>Last Minute <span class="pull-right">Range: <span class="red">{{device.statistics.last_min.firstUpdate | date:'medium'}}</span> to <span class="green">{{device.statistics.last_min.lastUpdate | date:'medium'}}</span></span></legend>
        </div>
        <div class="col-sm-4">
          <table class="table table-condensed table-hover table-bordered table-striped small">
            <tr><th>Statistic</th>
                <th>High</th>
                <th>Low</th>
                <th>Total</th>
                <th>Average</th>
                <th>Plot</th>
            </tr>
            <tr ng-repeat="(key,value) in device.statistics.last_min.summary.mos" ng-if="key === 'MOS' || key === 'MOS_corrected' || key === 'RFactor'" class="green">
              <td class="bold">{{key}}</td>
              <td>{{round(value.high)}}</td>
              <td>{{round(value.low)}}</td>
              <td>{{round(value.total)}}</td>
              <td>{{round(value.average)}}</td>
              <td>
                <a ng-if="hasPlot(chart_min, key) === -1" href="" ng-click="plot(chart_min, device.statistics.last_min.rollup, key)"><span class="glyphicon glyphicon-plus"></span></a>
                <a ng-if="hasPlot(chart_min, key) > -1" href="" ng-click="unplot(chart_min, key)"><span class="glyphicon glyphicon-minus"></span></a>
              </td>
            </tr>
            <tr ng-repeat="(key,value) in device.statistics.last_min.summary" ng-if="key !== 'mos'">
              <td class="bold">{{key}}</td>
              <td>{{round(value.high)}}</td>
              <td>{{round(value.low)}}</td>
              <td>{{round(value.total)}}</td>
              <td>{{round(value.average)}}</td>
              <td>
                <a ng-if="hasPlot(chart_min, key) === -1" href="" ng-click="plot(chart_min, device.statistics.last_min.rollup, key)"><span class="glyphicon glyphicon-plus"></span></a>
                <a ng-if="hasPlot(chart_min, key) > -1" href="" ng-click="unplot(chart_min, key)"><span class="glyphicon glyphicon-minus"></span></a>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-8">
          <div google-chart chart="chart_min" class="bordered"></div>
        </div>
      </div>
      
      <!-- last five min -->
      <div class="row">
        <div class="col-sm-12">
          <legend>Last Five Minutes <span class="pull-right">Range: <span class="red">{{device.statistics.last_five_min.firstUpdate | date:'medium'}}</span> to <span class="green">{{device.statistics.last_five_min.lastUpdate | date:'medium'}}</span></span></legend>
        </div>
        <div class="col-sm-4">
          <table class="table table-condensed table-hover table-bordered table-striped small">
            <tr><th>Statistic</th>
                <th>High</th>
                <th>Low</th>
                <th>Total</th>
                <th>Average</th>
                <th>Plot</th>
            </tr>
            <tr ng-repeat="(key,value) in device.statistics.last_five_min.summary.mos" ng-if="key === 'MOS' || key === 'MOS_corrected' || key === 'RFactor'" class="green">
              <td class="bold">{{key}}</td>
              <td>{{round(value.high)}}</td>
              <td>{{round(value.low)}}</td>
              <td>{{round(value.total)}}</td>
              <td>{{round(value.average)}}</td>
              <td>
                <a ng-if="hasPlot(chart_five_min, key) === -1" href="" ng-click="plot(chart_five_min, device.statistics.last_five_min.rollup, key)"><span class="glyphicon glyphicon-plus"></span></a>
                <a ng-if="hasPlot(chart_five_min, key) > -1" href="" ng-click="unplot(chart_five_min, key)"><span class="glyphicon glyphicon-minus"></span></a>
              </td>
            </tr>
            <tr ng-repeat="(key,value) in device.statistics.last_five_min.summary" ng-if="key !== 'mos'">
              <td class="bold">{{key}}</td>
              <td>{{round(value.high)}}</td>
              <td>{{round(value.low)}}</td>
              <td>{{round(value.total)}}</td>
              <td>{{round(value.average)}}</td>
              <td>
                <a ng-if="hasPlot(chart_five_min, key) === -1" href="" ng-click="plot(chart_five_min, device.statistics.last_five_min.rollup, key)"><span class="glyphicon glyphicon-plus"></span></a>
                <a ng-if="hasPlot(chart_five_min, key) > -1" href="" ng-click="unplot(chart_five_min, key)"><span class="glyphicon glyphicon-minus"></span></a>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-8">
          <div google-chart chart="chart_five_min" class="bordered"></div>
        </div>
      </div>

      <!-- last ten min -->
      <div class="row">
        <div class="col-sm-12">
          <legend>Last Ten Minutes <span class="pull-right">Range: <span class="red">{{device.statistics.last_ten_min.firstUpdate | date:'medium'}}</span> to <span class="green">{{device.statistics.last_ten_min.lastUpdate | date:'medium'}}</span></span></legend>
        </div>
        <div class="col-sm-4">
          <table class="table table-condensed table-hover table-bordered table-striped small">
            <tr><th>Statistic</th>
                <th>High</th>
                <th>Low</th>
                <th>Total</th>
                <th>Average</th>
                <th>Plot</th>
            </tr>
            <tr ng-repeat="(key,value) in device.statistics.last_ten_min.summary.mos" ng-if="key === 'MOS' || key === 'MOS_corrected' || key === 'RFactor'" class="green">
              <td class="bold">{{key}}</td>
              <td>{{round(value.high)}}</td>
              <td>{{round(value.low)}}</td>
              <td>{{round(value.total)}}</td>
              <td>{{round(value.average)}}</td>
              <td>
                <a ng-if="hasPlot(chart_ten_min, key) === -1" href="" ng-click="plot(chart_ten_min, device.statistics.last_ten_min.rollup, key)"><span class="glyphicon glyphicon-plus"></span></a>
                <a ng-if="hasPlot(chart_ten_min, key) > -1" href="" ng-click="unplot(chart_ten_min, key)"><span class="glyphicon glyphicon-minus"></span></a>
              </td>
            </tr>
            <tr ng-repeat="(key,value) in device.statistics.last_ten_min.summary" ng-if="key !== 'mos'">
              <td class="bold">{{key}}</td>
              <td>{{round(value.high)}}</td>
              <td>{{round(value.low)}}</td>
              <td>{{round(value.total)}}</td>
              <td>{{round(value.average)}}</td>
              <td>
                <a ng-if="hasPlot(chart_ten_min, key) === -1" href="" ng-click="plot(chart_ten_min, device.statistics.last_ten_min.rollup, key)"><span class="glyphicon glyphicon-plus"></span></a>
                <a ng-if="hasPlot(chart_ten_min, key) > -1" href="" ng-click="unplot(chart_ten_min, key)"><span class="glyphicon glyphicon-minus"></span></a>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-8">
          <div google-chart chart="chart_ten_min" class="bordered"></div>
        </div>
      </div>

      <!-- last hour -->
      <div class="row">
        <div class="col-sm-12">
          <legend>Last Hour <span class="pull-right">Range: <span class="red">{{device.statistics.last_hour.firstUpdate | date:'medium'}}</span> to <span class="green">{{device.statistics.last_hour.lastUpdate | date:'medium'}}</span></span></legend>
        </div>
        <div class="col-sm-4">
          <table class="table table-condensed table-hover table-bordered table-striped small">
            <tr><th>Statistic</th>
                <th>High</th>
                <th>Low</th>
                <th>Total</th>
                <th>Average</th>
                <th>Plot</th>
            </tr>
            <tr ng-repeat="(key,value) in device.statistics.last_hour.summary.mos" ng-if="key === 'MOS' || key === 'MOS_corrected' || key === 'RFactor'" class="green">
              <td class="bold">{{key}}</td>
              <td>{{round(value.high)}}</td>
              <td>{{round(value.low)}}</td>
              <td>{{round(value.total)}}</td>
              <td>{{round(value.average)}}</td>
              <td>
                <a ng-if="hasPlot(chart_hour, key) === -1" href="" ng-click="plot(chart_hour, device.statistics.last_hour.rollup, key)"><span class="glyphicon glyphicon-plus"></span></a>
                <a ng-if="hasPlot(chart_hour, key) > -1" href="" ng-click="unplot(chart_hour, key)"><span class="glyphicon glyphicon-minus"></span></a>
              </td>
            </tr>
            <tr ng-repeat="(key,value) in device.statistics.last_hour.summary" ng-if="key !== 'mos'">
              <td class="bold">{{key}}</td>
              <td>{{round(value.high)}}</td>
              <td>{{round(value.low)}}</td>
              <td>{{round(value.total)}}</td>
              <td>{{round(value.average)}}</td>
              <td><a ng-if="hasPlot(chart_hour, key) === -1" href="" ng-click="plot(chart_hour, device.statistics.last_hour.rollup, key)"><span class="glyphicon glyphicon-plus"></span></a>
                <a ng-if="hasPlot(chart_hour, key) > -1" href="" ng-click="unplot(chart_hour, key)"><span class="glyphicon glyphicon-minus"></span></a></td>
            </tr>
          </table>
        </div>
        <div class="col-sm-8">
          <div google-chart chart="chart_hour" class="bordered"></div>
        </div>
      </div>

    </div>
  </div>
</section>