<section data-ng-controller="VisualizationController" data-ng-init="startPolling()">
  <div class="row">
    <div class="col-sm-12">
      <form class="form-horizontal">
        <fieldset>
         <legend>Device Visualization</legend>
            <div class="form-group">
              <label class="col-lg-2 control-label">IP Monitoring (comma separated)</label>
              <div class="col-lg-10">
                <input ng-model="options.IP_ADDRESS" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Active Call Detection</label>
              <div class="col-lg-10">
                <table class="table table-condensed table-bordered table-hover table-striped">
                  <tr>
                    <th>Caller</th>
                    <th>Callee</th>
                    <th>Duration</th>
                    <th class="center">Visualize</th>
                  </tr>
                  <tr ng-repeat="call in calls">
                    <td>
                      <a href="" ng-click="addIP(call.from.IP_ADDRESS)" ng-show="!containsIP(call.from.IP_ADDRESS)"><span class="glyphicon glyphicon-plus spacer" ></span></a>
                      <a href="" ng-click="removeIP(call.from.IP_ADDRESS)" ng-show="containsIP(call.from.IP_ADDRESS)"><span class="glyphicon glyphicon-minus spacer red" ></span></a> {{call.from.IP_ADDRESS}} </td>
                    <td>
                      <a href="" ng-click="addIP(call.to.IP_ADDRESS)" ng-show="!containsIP(call.to.IP_ADDRESS)"><span class="glyphicon glyphicon-plus spacer" ></span></a>
                      <a href="" ng-click="removeIP(call.to.IP_ADDRESS)" ng-show="containsIP(call.to.IP_ADDRESS)"><span class="glyphicon glyphicon-minus spacer red" ></span></a> {{call.to.IP_ADDRESS.length > 0 ? call.to.IP_ADDRESS : call.to.SSRC + " (IP undiscovered)"}}</td>
                    <td>{{call.duration}}</td>
                    <td class="center"><a href="#!/visualization/call/{{call._id}}"><span class="glyphicon glyphicon-chevron-right"></span></a></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" ng-click="togglePolling()" class="btn btn-info btn-sm" ng-show="!isPolling">Visualize</button>
                <button type="submit" ng-click="togglePolling()" class="btn btn-danger btn-sm" ng-show="isPolling">Stop</button>
              </div>
            </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="well" ng-repeat="(key, value) in chartObjects">  
    <div class="row">    
      <div class="col-sm-9">
        <h4>{{key}}</h4>   
      </div>
      <div class="col-sm-3">       
        <m-MOS mos="visualizationdata[key].averages.mos.MOS" green="4" yellow="3.8"></m-MOS>
<!--         <div class="right" ng-if="visualizationdata[key].averages.mos.MOS > 4">
          <h4>Status: <span class="glyphicon glyphicon-ok green spacer"></span>
          </h4>
        </div>
        <div class="right" ng-if="visualizationdata[key].averages.mos.MOS > 3.8 && visualizationdata[key].averages.mos.MOS <= 4"><h4>Status: <span class="glyphicon glyphicon-ok yellow spacer"></span></h4>
        </div>
        <div class="right" ng-if="visualizationdata[key].averages.mos.MOS <= 3.8"><h4>Status: <span class="glyphicon glyphicon-ok red spacer"></span></h4>
        </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div google-chart chart="value" class="bordered"></div>
      </div>
      <div class="col-sm-6">
        <div google-chart chart="chartAverages[key]" class="bordered"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 paddedtopten">
        <h4>Last Minute</h4>
          <table class="table table-condensed table-bordered table-hover normal white">
            <tr>
              <td></td>
              <td><span class="bold red">Averages for</span> {{key}}    </td><td><span class="bold red">Reporting Interval: </span>{{visualizationdata[key].averages.duration}} ms</td><td><span class="bold red">CODEC:</span> {{visualizationdata[key].metadata.codec}}</td><td>
              <span class="bold red">
              Computed MOS:</span> {{visualizationdata[key].averages.mos.MOS}} <a-percent ng-if="viz[key].results.averages.mos.MOS" numerator="visualizationdata[key].averages.mos.MOS" denominator="viz[key].results.averages.mos.MOS"></a-percent>
              </td>
            </tr>
            <tr>
              <th></th>
              <th>RTP Packet Flow (Avg. packets/s)</th>
              <th>Packet Loss Rate (Avg. %)</th>
              <th>Packet Out of Order Rate (Avg. %)</th>
              <th>Jitter (Avg.)</th>
            </tr>
            <tr>
              <td></td>
              <td>{{visualizationdata[key].averages.rtp_rate}} <a-percent ng-if="viz[key].results.averages.rtp_rate" numerator="visualizationdata[key].averages.rtp_rate" denominator="viz[key].results.averages.rtp_rate" bias="'low'"></a-percent></td>
              <td>{{visualizationdata[key].averages.rtp_loss_rate * 100}} <a-percent ng-if="viz[key].results.averages.rtp_loss_rate" numerator="visualizationdata[key].averages.rtp_loss_rate" denominator="viz[key].results.averages.rtp_loss_rate" bias="'low'"></a-percent></td>
              <td>{{visualizationdata[key].averages.rtp_ooo_rate * 100}} <a-percent ng-if="viz[key].results.averages.rtp_ooo_rate" numerator="visualizationdata[key].averages.rtp_ooo_rate" denominator="viz[key].results.averages.rtp_ooo_rate" bias="'low'"></a-percent></td>
              <td>{{visualizationdata[key].averages.rtp_jitter}} <a-percent ng-if="viz[key].results.averages.rtp_jitter" numerator="visualizationdata[key].averages.rtp_jitter" denominator="viz[key].results.averages.rtp_jitter" bias="'low'"></a-percent></td>
            </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 paddedtopten">
        <h4>Data Tracking <input type="checkbox" ng-model="enableTracking" class="input-control"/>
        </h4>
        <div ng-show="enableTracking">
          <label class="label-control" for="buffer">Buffer Size</label>
          <input name="buffer" ng-model="viz[key].options.buffer.size" class="input-control"/> 
          <button class="btn btn-sm btn-danger" ng-click="deviceTracking[key] = []">Clear Buffer</button>
          <a download="content.txt" class="btn btn-sm btn-success" ng-click="export(deviceTracking[key])">Export</a>

          <table class="table table-condensed table-bordered table-hover normal white" style="margin-top:20px">
            <tr><th ng-repeat="(key, value) in deviceTracking[key][0]" ng-if="key !== 'mos'">{{key}}</th><th ng-repeat="(key, value) in deviceTracking[key][0].mos">{{key}}</th></tr>
            <tr ng-repeat="row in deviceTracking[key] | reverse">
              <td ng-repeat="(key, value) in row" ng-if="key !== 'mos'">{{value}}
              </td>
              <td ng-repeat="(key2, value2) in row.mos">{{value2}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <h4>Comparison <input type="checkbox" ng-model="enableComparison" class="input-control" ng-click="loadCalls(key)"/></h4>

            <div class="row well white" style="margin: 0; margin-bottom:20px" ng-show="enableComparison">
              <form class="col-sm-12 form-horizontal" role="form">
                <div class="form-group col-sm-5">
                  <label class="label-control" for="exampleInputEmail2">Window</label>
                  <select class="form-control" size="5" ng-model="viz[key].options.window">
                    <option>Last minute</option>
                    <option>Last 5 minutes</option>
                    <option>Last 10 minutes</option>
                    <option>Last hour</option>
                    <option>Custom</option>
                  </select>
                </div>
                <div class="form-group col-sm-2">
                
                </div>
                <div class="form-group col-sm-5">
                  <label class="label-control" for="exampleInputEmail2">Call History <a href="" ng-click="loadCalls(key)">(Reload)</a></label>
                  <table class="table table-condensed table-bordered table-hover">
                    <tr><th>Call</th><th width="10%">Compare</th></tr>
                    <tr ng-repeat="call in viz[key].calls.from">
                      <td>
                        <a-call call="call" highlight="key"></a-call>
                      </td>
                      <td class="center">
                        <a href="" ng-click="compareCall(key, call._id, true)"><span class="glyphicon glyphicon-transfer"></span></a>
                      </td>
                    </tr>
                    <tr ng-repeat="call in viz[key].calls.to">
                      <td>
                        <a-call call="call" highlight="key"></a-call>
                      </td>
                      <td class="center">
                        <a href="" ng-click="compareCall(key, call._id, false)"><span class="glyphicon glyphicon-transfer"></span></a>
                      </td>
                    </tr>
                  </table>
                </div>
              </form>
                <div class="col-sm-12" style="padding-top:20px; padding-bottom:20px" ng-show="viz[key].options.window == 'Custom'">
                  <input ng-model="viz[key].options.slidervalue" type="text" id="mySlider1" slider options="viz[key].options.slideroptions" />
                </div>
                <button class="btn btn-sm btn-warning" ng-click="compare(key, viz[key].options)">Compare</button>
              </div>
        </div>

      <div class="col-sm-12">
          <table class="table table-condensed table-bordered table-hover normal white" ng-show="enableComparison">
            <tr><td></td>
              <td><span class="bold red">Averages for</span> {{key}}    </td><td><span class="bold red">Reporting Interval: </span>{{viz[key].results.averages.duration / 1000}} s</td>

              <td><span class="bold red">CODEC:</span> {{viz[key].results.metadata.codec}}</td>

              <td><span class="bold red">Computed MOS:</span> {{viz[key].results.averages.mos.MOS}}<br/>
                  <span class="bold red">Computed MOS:</span> {{viz[key].results.averages.mos.MOS_corrected}}

              </td>
            </tr>
            <tr>
              <th></th><th>RTP Packet Flow (Avg. packets/s)</th><th>Packet Loss Rate (Avg. %)</th><th>Packet Out of Order Rate (Avg. %)</th><th>Jitter (Avg.)</th>
            </tr>
            <tr>
              <td></td>
              <td>{{viz[key].results.averages.rtp_rate}}</td>
              <td>{{viz[key].results.averages.rtp_loss_rate * 100}}</td>
              <td>{{viz[key].results.averages.rtp_ooo_rate * 100}}</td>
              <td>{{viz[key].results.averages.rtp_jitter}}</td>
            </tr>
          </table>
      </div>
    </div>
  </div>
</section>
